.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.search-container {
  display: flex;
  flex-direction: column;
}

.App-content {
  display: flex;
  flex-grow: 1;
}

.PlaylistContainer {
  flex-grow: 1; 
  overflow-y: auto; 
}
